

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
   background-color: aqua;
   background-position: 0%;
   padding-left: 0%;
}
p {
   color: blue;
   padding-bottom: 0%;
}















